USE [DBADB]
GO
/****** Object:  StoredProcedure [dbo].[DBA_Deadlock_data_import]    Script Date: 4/10/2026 12:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec DBA_Deadlock_data_import
ALTER PROCEDURE [dbo].[DBA_Deadlock_data_import]
	
AS
BEGIN
	
	SET NOCOUNT ON;

Truncate table dbadb.[dbo].[DL_REPORT_XML_DATA];

INSERT INTO [dbo].[DL_REPORT_XML_DATA]
           ([EVENTTIME]
           ,[XMLREPORT]) 
select  timestamp_utc at time zone 'UTC' at time zone 'India Standard Time' as Event_time_IST,
cast(ef.event_data as xml).query('/event/data/value/deadlock') AS Deadlock_XML
from sys.fn_xe_file_target_read_file('system_health*.xel',NULL, NULL, NULL) ef
where ef.object_name='xml_deadlock_report' and 
CAST(ef.timestamp_utc AS DATETIME2(7)) >  DATEADD(day, -2, GETUTCDATE()) 
END

